*,
*::before,
*::after {
  box-sizing: border-box;
}



body { 
  

  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif; 
  background-image: url(../images/full-bloom.png)

  }
  header {
    text-align: center;
    padding: 20px;
    padding-top: 20px;
    color: hsl(206, 17%, 28%);
  }
  .btn{
    margin: 20px;
  }
  .board {
    
    text-align: center;
    background-color: hsl(0, 0%, 100%);
    border-radius: 5px;
    border-width: 1px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
    color: hsl(206, 17%, 28%);
    font-size: 18px;
    margin-top: 80px;
    margin-left: 80px;
    margin-right: 80px;
    padding: 20px;
  }


/*this hides all content */





.copyR {
  
  text-align: center;
  position:fixed;bottom:0;left:0;right:0;height:30px;
}

@media (max-width: 690px) {
  .btn {
    font-size: 1rem;
    margin: 16px 0px 0px 0px;
    padding: 10px 15px;
  }


